*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: auto;
  width: 100vw;

  /* border: 1px solid blue; */
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100vh;
  width: 100vw; */
  z-index: 3;
  background-color: black;
  object-fit: cover;
  /* transform: translateZ(50%); */
}
.loader img {
  width: auto;
  height: 100%;
  object-position: center;
}
header {
  position: relative;
  min-height: 99vh;
  display: grid;
  /* align-items: center; */
  place-items: center;
}
.video-container {
  position: absolute;
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
  z-index: -1;
  /* border: 1px solid red; */

  object-fit: cover;
}
header::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
}

h1 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 5rem;
}
.btn-switch {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px 0;
  /* z-index: ; */
  align-self: end;
  /* place-self: right; */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: blue;
  width: 120px;
}
.btn-switch span {
  /* margin-left: 20px; */
}
.switch {
  transition: all 0.5s ease;
  background-color: blue;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.slide .switch {
  left: 50%;
}
